div
{
  color: white;
  }

  #quote {

  	font-family: "verdana", "gill sans";
  	color: green;

  }
h4 {
color:white;

}
h2 {
color:white
}

.movie {
  text-align: center;
  color: white;
}
